* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Inter 18pt";
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1280px;
}
header {
	padding: 12px 0px;
	border-bottom: 1px solid #e2e8f0;
}

header .wrapper .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .wrapper .head .logo h1 a {
	display: flex;
	align-items: center;
}

header .wrapper .head .logo h1 a .logocontainer {
	width: 31px;
	height: 40px;
}

header .wrapper .head .logo h1 a .logocontainer img {
	width: 100%;
	height: 100%;
}

header .wrapper .head .logo h1 a span {
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	text-align: left;
	color: #334155;
}

header .wrapper .head .navbar-logined ul {
	display: flex;
	gap: 23px;
	align-items: center;
}
header .wrapper .head .navbar-logined ul li {
	width: 24px;
	height: 24px;
}
header .wrapper .head .navbar-logined ul li:last-child {
	width: 40px;
	height: 40px;
}
header .wrapper .head .navbar-logined ul a {
	display: block;
	width: 100%;
	height: 100%;
}
header .wrapper .head .navbar-logined ul li img {
	width: 100%;
	height: 100%;
}
header .wrapper .head .navbar-logined ul li button {
	background: none;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

header .wrapper .head .navbar-logined ul li:last-child button {
	background: #334155;
	color: #ffffff;
	border-radius: 30px;
}
header .wrapper .head .navbar ul {
	display: flex;
	gap: 24px;
	align-items: center;
}
header .wrapper .head .navbar ul li button {
	background: none;
	border: none;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
header .wrapper .head .navbar ul li:first-child {
	height: 24px;
	width: 24px;
}
header .wrapper .head .navbar ul li:nth-child(2) a {
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	border: 1px solid #334155;
	color: #334155;
}
header .wrapper .head .navbar ul li:last-child a {
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	background-color: #334155;
	color: #fff;
}

header .wrapper .head .navbar ul li:first-child a {
	display: block;
	width: 100%;
	height: 100%;
}

header .wrapper .head .navbar ul li button img {
	width: 100%;
	height: 100%;
}

#spotlight {
	padding: 30px 0px;
}

#spotlight .wrapper .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	row-gap: 25px;
}

#spotlight .wrapper .content .content-left {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 50%;
}

#spotlight .wrapper .content .content-left div h1 {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	color: #0f172a;
}
#spotlight .wrapper .content .content-left div {
	display: flex;
	flex-direction: column;
	width: 93%;
	gap: 16px;
}

#spotlight .wrapper .content .content-left div p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	text-align: left;
	color: #334155;
}

#spotlight .wrapper .content .content-left a {
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	padding: 10px 24px 10px 24px;
	background-color: #3b82f6;
	border-radius: 8px;
	color: #fff;
	width: fit-content;
	height: fit-content;
}

#spotlight .wrapper .content .content-right {
	width: 40%;
}

#spotlight .wrapper .content .content-right img {
	width: 100%;
}
#statistics {
	padding: 30px 0px;
}
#statistics .background {
	background-color: #f8fafc;
	padding: 40px 0px;
}

#statistics .wrapper .content ul {
	display: flex;
	justify-content: space-between;
}

#statistics .wrapper .content ul li:nth-child(2n-1) {
	display: flex;
	gap: 6px;
	flex-direction: column;
	align-items: center;
}

#statistics .wrapper .content ul li:nth-child(2n) {
	border: 2px solid #e2e8f0;
}
#statistics .wrapper .content ul li h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 41.6px;
	color: #0f172a;
}

#statistics .wrapper .content ul li span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #0f172a;
}
#top-categories {
	padding: 30px 0px;
}

#top-categories .wrapper .content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#top-categories .wrapper .content .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#top-categories .wrapper .content .head h3 {
	font-size: 24px;
	font-weight: 600;
	color: #0f172a;
}

#top-categories .wrapper .content .head a {
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	color: #3b82f6;
	padding: 10px 24px;
}

#top-categories .wrapper .content .Categories-cards {
	display: flex;
	align-items: center;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	justify-content: space-between;
}
#top-categories .wrapper .content .Categories-cards .card a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 24px 0px;
	border-radius: 16px;
}
#top-categories .wrapper .content .Categories-cards .card {
	width: 23%;
	min-width: 280px;
	border: 1px solid #e2e8f0;
	border-radius: 16px;
	box-shadow: 0px 0px 8px 0px #3b82f61f;
}

#top-categories .wrapper .content .Categories-cards .card .imagebackground {
	border-radius: 100px;
	width: 100px;
	height: 100px;
	background: #e0f2fe;
	display: flex;
	align-items: center;
	justify-content: center;
}
#top-categories
	.wrapper
	.content
	.Categories-cards
	.card
	.imagebackground
	.imagecontainer {
	width: 40px;
	height: 40px;
}
#top-categories
	.wrapper
	.content
	.Categories-cards
	.card
	.imagebackground
	.imagecontainer
	img {
	width: 100%;
	height: 100%;
}

#top-categories .wrapper .content .Categories-cards .card h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #0f172a;
	text-transform: capitalize;
}

#top-categories .wrapper .content .Categories-cards .card p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #334155;
}
#top-courses {
	padding: 30px 0px;
}

#top-courses .wrapper .content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#top-courses .wrapper .content .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#top-courses .wrapper .content .head h3 {
	color: #0f172a;
	font-size: 24px;
	font-weight: 600;
}

#top-courses .wrapper .content .head a {
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	color: #3b82f6;
	padding: 10px 24px;
}

#top-courses .wrapper .content .courses-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#top-courses .wrapper .content .courses-cards .card {
	border-radius: 16px;
	width: 23.5%;
	min-width: 285px;
	border: 1px solid #e2e8f0;
	box-shadow: 0px 0px 8px 0px #3b82f61f;
}

#top-courses .wrapper .content .courses-cards .card a {
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: 16px;

	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

#top-courses .wrapper .content .courses-cards .card .imagecontainer {
	width: 100%;
	height: 139px;
}

#top-courses .wrapper .content .courses-cards .card .imagecontainer img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

#top-courses .wrapper .content .courses-cards .card .course-details {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: start;
}

#top-courses .wrapper .content .courses-cards .card .course-details ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

#top-courses .wrapper .content .courses-cards .card .course-details ul li {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	gap: 6px;
}

#top-courses .wrapper .content .courses-cards .card .course-details ul li h5 {
	font-size: 18px;
	font-weight: 600;
	color: #0f172a;
}

#top-courses
	.wrapper
	.content
	.courses-cards
	.card
	.course-details
	li:first-child
	span {
	font-size: 14px;
	font-weight: 400;
	color: #334155;
}

#top-courses
	.wrapper
	.content
	.courses-cards
	.card
	.course-details
	.Ratings
	span {
	font-size: 12px;
	font-weight: 600;
	color: #334155;
}
#top-courses
	.wrapper
	.content
	.courses-cards
	.card
	.course-details
	ul
	li.Ratings {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

#top-courses
	.wrapper
	.content
	.courses-cards
	.card
	.course-details
	ul
	li:last-child
	span {
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	color: #334155;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}

#top-courses .wrapper .content .courses-cards .card .course-details h4 {
	font-size: 20px;
	font-weight: 600;
	color: #0f172a;
}
#top-instructors {
	padding: 30px 0px;
}

#top-instructors .wrapper .content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#top-instructors .wrapper .content .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#top-instructors .wrapper .content .head h3 {
	font-size: 24px;
	font-weight: 600;
	color: #0f172a;
}

#top-instructors .wrapper .content .head a {
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	color: #3b82f6;
	padding: 10px 24px;
}

#top-instructors .wrapper .content .instructors-cards {
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#top-instructors .wrapper .content .instructors-cards .card {
	width: 17.4%;
	min-width: 212px;
	border-radius: 16px;
	border: 1px solid #e2e8f0;
	box-shadow: 0px 0px 8px 0px #3b82f61f;
}
#top-instructors .wrapper .content .instructors-cards .card a {
	width: 100%;
	height: 100%;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 16px;
}

#top-instructors .wrapper .content .instructors-cards .card .imagecontainer {
	width: 100%;
	height: 132px;
}

#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.imagecontainer
	img {
	width: 100%;
	height: 100%;
}

#top-instructors .wrapper .content .instructors-cards .card .course-details {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#top-instructors .wrapper .content .instructors-cards .card .course-details li {
	text-align: center;
	color: #334155;
}
#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	li:nth-child(2) {
	border: 1px solid #e2e8f0;
}
#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	li
	h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28.8px;
	color: #0f172a;
}

#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	li
	span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #334155;
}

#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	.Ratings {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	.Ratings
	.star {
	display: flex;
	align-items: center;
	gap: 4px;
}

#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	.Ratings
	.star
	div {
	width: 20px;
	height: 100%;
}

#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	.Ratings
	.star
	div
	img {
	width: 100%;
	height: 100%;
}

#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	.Ratings
	.star
	span {
	font-size: 12px;
	font-weight: 600;
	line-height: 14.52px;
	color: #0f172a;
}

#top-instructors
	.wrapper
	.content
	.instructors-cards
	.card
	.course-details
	.Ratings
	p {
	font-size: 12px;
	font-weight: 600;
	line-height: 14.52px;
	color: #334155;
}
.testmonial {
	padding-top: 80px;
	padding-bottom: 64px;
	background: #f8fafc;
}

.testmonial .content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.testmonial .content .wrapper .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.testmonial .content .wrapper .head h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 33.6px;
	color: #000000;
}

.testmonial .content .wrapper .head .buttons {
	display: flex;
	align-items: center;
	gap: 24px;
}

.testmonial .content .wrapper .head .buttons button {
	padding: 12px 24px;
	background: #94a3b8;
	border-radius: 8px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	cursor: pointer;
}

.testmonial .content .wrapper .head .buttons button img {
	width: 100%;
	height: 100%;
}

.testmonial .content .testmonial-cards {
	width: 95%;
	margin-left: auto;
	max-width: 1591px;
	overflow: hidden;
	scroll-behavior: smooth;
	display: flex;
	align-items: center;
	gap: 16px;
}

.testmonial .content .testmonial-cards .cards {
	background: #ffffff;
	flex-shrink: 0 !important;
	width: 33.8%;
	min-width: 430px;
	padding: 24px;
	max-width: 505px;
	border-radius: 16px;
	border: 1px solid #e2e8f0;
	box-shadow: 0px 0px 8px 0px #3b82f61f;
}

.testmonial .content .testmonial-cards .cards ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.testmonial .content .testmonial-cards .cards ul .doubleqoutes-container {
	width: 48px;
	height: 48px;
}

.testmonial .content .testmonial-cards .cards ul .doubleqoutes-container img {
	width: 74%;
}

.testmonial .content .testmonial-cards .cards ul li {
	display: flex;
	align-items: center;
	gap: 8px;
}

.testmonial .content .testmonial-cards .cards ul li p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #000000;
}
.testmonial .content .testmonial-cards .cards ul li h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28.8px;
	color: #000000;
}
.testmonial .content .testmonial-cards .cards ul li span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #334155;
}
.testmonial .content .testmonial-cards .cards ul li .imagecontainer {
	width: 60px;
	height: 60px;
}

.testmonial .content .testmonial-cards .cards ul li .imagecontainer img {
	width: 100%;
	height: 100%;
}

#features {
	padding: 60px 0px;
}

#features .wrapper .content {
	width: 92.5%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

#features .wrapper .content .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#features .wrapper .content .top .imagecontainer {
	width: 35.7%;
	height: fit-content;
}

#features .wrapper .content .top .imagecontainer img {
	width: 100%;
	height: 100%;
}

#features .wrapper .content .top .details {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 47%;
}

#features .wrapper .content .top .details div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#features .wrapper .content .top .details div h5 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #000000;
}

#features .wrapper .content .top .details div p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #1d2939;
}

#features .wrapper .content .top .details a button {
	border: none;
	outline: none;
	background: #020617;
	width: fit-content;
	padding: 10px 24px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
}
#features .wrapper .content .top .details a {
	width: fit-content;
	height: fit-content;
}
#features .wrapper .content .top .details a button span {
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	color: #ffffff;
}
#features .wrapper .content .top .details a button .arrow {
	width: 24px;
	height: 24px;
}
#features .wrapper .content .top .details a button .arrow img {
	width: 75%;
	height: 100%;
}
#features .wrapper .content .bottom {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
}

#features .wrapper .content .bottom .imagecontainer {
	width: 42%;
	height: fit-content;
}

#features .wrapper .content .bottom .imagecontainer img {
	width: 100%;
	height: 100%;
}

#features .wrapper .content .bottom .details {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 47%;
}

#features .wrapper .content .bottom .details div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#features .wrapper .content .bottom .details div h5 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #000000;
}

#features .wrapper .content .bottom .details div p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #1d2939;
}

#features .wrapper .content .bottom .details a {
	width: fit-content;
	height: fit-content;
}

#features .wrapper .content .bottom .details a button {
	border: none;
	outline: none;
	cursor: pointer;
	background: #020617;
	width: fit-content;
	padding: 10px 24px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 6px;
}

#features .wrapper .content .bottom .details a button span {
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	color: #ffffff;
}

#features .wrapper .content .bottom .details a button .arrow {
	width: 24px;
	height: 24px;
}

#features .wrapper .content .bottom .details a button .arrow img {
	width: 75%;
	height: 100%;
}

footer {
	background: #1e293b;
	padding: 80px 0px;
}

footer .wrapper #footer-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

footer .wrapper #footer-content .main {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 16px;
	width: 35%;
}

footer .wrapper #footer-content .main .imagecontainer {
	width: 111px;
	height: 40px;
}
footer .wrapper #footer-content .main .imagecontainer h1 {
	width: 100%;
	height: 100%;
}

footer .wrapper #footer-content .main .imagecontainer a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
footer .wrapper #footer-content .main .imagecontainer h1 a img {
	width: 100%;
	height: 100%;
}

footer .wrapper #footer-content .main p {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #cbd5e1;
}

footer .wrapper #footer-content .get-help {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

footer .wrapper #footer-content h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28.8px;
	color: #f1f5f9;
}

footer .wrapper #footer-content a {
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	color: #cbd5e1;
}

footer .wrapper #footer-content .programs {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* footer .wrapper #footer-content .programs h5 {
}

footer .wrapper #footer-content .programs a {
} */

footer .wrapper #footer-content .Contact-us {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

footer .wrapper #footer-content .Contact-us .inner {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* footer .wrapper #footer-content .Contact-us .inner h5 {
} */

footer .wrapper #footer-content .Contact-us .inner p {
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	color: #cbd5e1;
}

/* footer .wrapper #footer-content .Contact-us .inner a {
} */

footer .wrapper #footer-content .Contact-us .logos {
	width: 100%;
	height: fit-content;
}

footer .wrapper #footer-content .Contact-us .logos img {
	width: 100%;
	height: 100%;
}

/* single page styles */
#course-preview {
	padding: 40px 0px 29px 0px;
	background: #f8fafc;
}

#course-preview .wrapper .content {
	position: relative;
}

#course-preview .wrapper .content .content-left {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 58%;
}
#course-preview .wrapper .content .content-left .main-image {
	width: 100%;
	display: none;
}
#course-preview .wrapper .content .content-left .main-image img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
#course-preview .wrapper .content .content-left .path {
	display: flex;
	align-items: center;
	gap: 8px;
}

#course-preview .wrapper .content .content-left .path li:nth-child(2n) {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#course-preview .wrapper .content .content-left .path li img {
	width: 26%;
}
#course-preview .wrapper .content .content-left .path li a {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #334155;
	text-transform: capitalize;
}
#course-preview .wrapper .content .content-left .path li:last-child a {
	color: #2563eb;
}

#course-preview .wrapper .content .content-left .main-details {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
#course-preview .wrapper .content .content-left .main-details .responsive-card {
	display: none;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.sharelinks-imagecontainer {
	width: 43%;
	align-self: center;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.sharelinks-imagecontainer
	img {
	width: 100%;
	height: 100%;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:first-child {
	display: flex;
	gap: 13px;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:first-child
	h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 33.6px;
	color: #0f172a;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:first-child
	h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28.8px;
	color: #94a3b8;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:first-child
	h5
	del {
	text-decoration-color: #94a3b8;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:first-child
	h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #16a34a;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:last-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:last-child
	button {
	padding: 10px 0px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	width: 49%;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:last-child
	button:first-child {
	background: #020617;
	color: #ffffff;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.responsive-card
	.buying-details
	li:last-child
	button:last-child {
	border: 1px solid #020617;
	color: #000000;
	background: #ffffff;
}
#course-preview .wrapper .content .content-left .main-details .top {
	display: flex;
	flex-direction: column;
	gap: 17px;
}

#course-preview .wrapper .content .content-left .main-details .top h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: -0.02em;
	color: #0f172a;
}

#course-preview .wrapper .content .content-left .main-details .top p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #334155;
}

#course-preview .wrapper .content .content-left .main-details .bottom {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.top-content {
	display: flex;
	align-items: center;
	gap: 12px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.top-content
	.ratings {
	display: flex;
	align-items: center;
	gap: 4px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.top-content
	.ratings
	span {
	font-size: 16px;
	font-weight: 500;
	line-height: 19.2px;
	color: #fec84b;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.top-content
	.ratings
	.ratingimagecontainer {
	width: 96px;
	height: 19px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.top-content
	.ratings
	.ratingimagecontainer
	img {
	width: 100%;
	height: 100%;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.top-content
	.ratings
	p {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #334155;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.top-content
	.line {
	width: 1px;
	height: 16px;
	background: #334155;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.top-content
	.timingdetails {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #334155;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.middle-content {
	display: flex;
	align-items: center;
	gap: 8px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.middle-content
	.autherprofile {
	width: 40px;
	height: 40px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.middle-content
	.autherprofile
	img {
	width: 100%;
	height: 100%;
	border-radius: 25px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.middle-content
	h3 {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.middle-content
	h3
	a {
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #2563eb;
	text-transform: capitalize;
}
#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.bottom-content {
	display: flex;
	align-items: center;
	gap: 12px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.bottom-content
	div {
	width: 24px;
	height: 24px;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.bottom-content
	div
	img {
	width: 100%;
	height: 100%;
}

#course-preview
	.wrapper
	.content
	.content-left
	.main-details
	.bottom
	.bottom-content
	span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #334155;
}

#course-preview .wrapper .content .content-right {
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #e2e8f0;
	box-shadow: 0px 0px 8px 0px #3b82f61f;
	background: #ffffff;
	border-radius: 16px;
	width: 29%;
}
#course-preview .wrapper .content .content-right .main-part {
	padding: 24px;
	padding-bottom: 28px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
#course-preview .wrapper .content .content-right .main-part .imagecontainer {
	width: 100%;
}

#course-preview
	.wrapper
	.content
	.content-right
	.main-part
	.imagecontainer
	img {
	width: 100%;
	border-radius: 8px;
}

#course-preview .wrapper .content .content-right .main-part ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#course-preview .wrapper .content .content-right .main-part ul li:first-child {
	display: flex;
	gap: 13px;
}

#course-preview .wrapper .content .content-right .main-part ul li h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 33.6px;
	color: #0f172a;
}

#course-preview .wrapper .content .content-right .main-part ul li h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28.8px;
	color: #94a3b8;
}
#course-preview .wrapper .content .content-right .main-part ul li h5 del {
	text-decoration-color: #94a3b8;
}
#course-preview .wrapper .content .content-right .main-part ul li h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #16a34a;
}
#course-preview .wrapper .content .content-right .main-part ul li:last-child {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
#course-preview .wrapper .content .content-right .main-part ul li button {
	padding: 10px 0px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 22.4px;
	border: none;
}
#course-preview
	.wrapper
	.content
	.content-right
	.main-part
	ul
	li
	button:first-child {
	background: #020617;
	color: #ffffff;
}
#course-preview
	.wrapper
	.content
	.content-right
	.main-part
	ul
	li
	button:last-child {
	border: 1px solid #020617;
	color: #000000;
	background: #ffffff;
}
#course-preview .wrapper .content .content-right .line {
	border: 1px solid #e2e8f0;
	width: 100%;
}

#course-preview .wrapper .content .content-right .sharelinks {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 24px;
	padding-bottom: 28px;
}

#course-preview .wrapper .content .content-right .sharelinks p {
	font-size: 16px;
	font-weight: 500;
	line-height: 25.6px;
	color: #0f172a;
}

#course-preview .wrapper .content .content-right .sharelinks .imagecontainer {
	width: 85%;
}

#course-preview
	.wrapper
	.content
	.content-right
	.sharelinks
	.imagecontainer
	img {
	width: 100%;
	height: 100%;
}
#about-course {
	padding-top: 40px;
	padding-bottom: 18px;
}

#about-course .wrapper .whole-content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#about-course .wrapper .whole-content .course-content {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 64%;
}

#about-course .wrapper .whole-content .course-content .tabs {
	display: flex;
	align-items: center;
	gap: 24px;
}

#about-course .wrapper .whole-content .course-content .tabs button {
	border: 1px solid #e2e8f0;
	padding: 17px 38px;
	border-radius: 8px;
	background: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #0f172a;
	cursor: pointer;
}
#about-course .wrapper .whole-content .course-content .tabs button.active {
	background: #eff6ff;
}
#about-course .wrapper .whole-content .course-content .line {
	border: 1px solid #e2e8f0;
}

#about-course .wrapper .whole-content .course-content .mainpart {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.mainpart
	.course-description {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.mainpart
	.course-description
	h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #0f172a;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.mainpart
	.course-description
	p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #334155;
}

#about-course .wrapper .whole-content .course-content .mainpart .certification {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.mainpart
	.certification
	h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #0f172a;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.mainpart
	.certification
	p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #334155;
}

#about-course .wrapper .whole-content .course-content .instructor {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#about-course .wrapper .whole-content .course-content .instructor h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #0f172a;
}

#about-course .wrapper .whole-content .course-content .instructor .name {
	display: flex;
	flex-direction: column;
}

#about-course .wrapper .whole-content .course-content .instructor .name h4 a {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #2563eb;
}

#about-course .wrapper .whole-content .course-content .instructor .name p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #334155;
}

#about-course .wrapper .whole-content .course-content .instructor .profile {
	display: flex;
	align-items: center;
	gap: 16px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.instructor
	.profile
	.imagecontainer {
	width: 120px;
	height: 120px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.instructor
	.profile
	.imagecontainer
	img {
	width: 100%;
	height: 100%;
	border-radius: 65px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.instructor
	.profile
	.about {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.instructor
	.profile
	.about
	li {
	display: flex;
	align-items: center;
	gap: 4px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.instructor
	.profile
	.about
	li
	.review-icon {
	width: 24px;
	height: 24px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.instructor
	.profile
	.about
	li
	.review-icon
	img {
	width: 100%;
	height: 100%;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.instructor
	.profile
	.about
	li
	span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #0f172a;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.instructor
	p.auther-paragragh {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #334155;
}

#about-course .wrapper .whole-content .course-content .Syllabus {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 96%;
}

#about-course .wrapper .whole-content .course-content .Syllabus h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #0f172a;
}

#about-course .wrapper .whole-content .course-content .Syllabus .Lectures {
	border-radius: 8px;
	border: 1px solid #e2e8f0;
	width: 100%;
}

#about-course .wrapper .whole-content .course-content .Syllabus .Lectures li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
	cursor: pointer;
	border-bottom: 1px solid #e2e8f0;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.Syllabus
	.Lectures
	li
	.lessons {
	display: flex;
	align-items: center;
	gap: 16px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.Syllabus
	.Lectures
	li
	.lessons
	.down-arrow {
	width: 24px;
	height: 24px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.Syllabus
	.Lectures
	li
	.lessons
	.down-arrow
	img {
	width: 58%;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.Syllabus
	.Lectures
	li
	.lessons
	h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28.8px;
	color: #0f172a;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.Syllabus
	.Lectures
	li
	.time {
	display: flex;
	align-items: center;
	gap: 16px;
}

#about-course
	.wrapper
	.whole-content
	.course-content
	.Syllabus
	.Lectures
	li
	.time
	span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #334155;
}

#about-course .wrapper .whole-content .learners-reviews {
	display: flex;
	gap: 24px;
	flex-direction: column;
}

#about-course .wrapper .whole-content .learners-reviews h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: #0f172a;
}

#about-course .wrapper .whole-content .learners-reviews .content {
	display: flex;
	column-gap: 139px;
	row-gap: 24px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-reviews {
	display: flex;
	gap: 8px;
	align-items: baseline;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-reviews
	li:first-child {
	display: flex;
	align-items: center;
	gap: 3px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-reviews
	li
	div {
	width: 20px;
	height: 20px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-reviews
	li
	div
	img {
	width: 100%;
	height: 100%;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-reviews
	li
	h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	color: #0f172a;
}
#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-reviews
	li
	span {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #334155;
	white-space: nowrap;
}
#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-count {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-count
	li {
	display: flex;
	align-items: center;
	gap: 8px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-count
	li
	.starcontainer {
	width: 100px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-count
	li
	.starcontainer
	img {
	width: 100%;
	height: 100%;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-ratings
	.rating-count
	li
	span {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	color: #334155;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections {
	border-radius: 16px;
	border: 1px solid #e2e8f0;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 24px;
	align-items: flex-start;
}
#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	button {
	border: 1px solid #0f172a;
	padding: 16px 30px;
	border-radius: 8px;
	background: #fff;
	cursor: pointer;
}
#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.learners-details {
	display: flex;
	align-items: center;
	gap: 12px;
	/* width: 30%; */
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.learners-details
	.learners-image {
	width: 60px;
	height: 60px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.learners-details
	.learners-image
	img {
	width: 100%;
	height: 100%;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.learners-details
	h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28.8px;
	color: #0f172a;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.comments {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 71%;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.comments
	li:first-child {
	display: flex;
	align-items: center;
	gap: 28px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.comments
	li
	.commenters-rating {
	display: flex;
	align-items: center;
	gap: 4px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.comments
	li
	.commenters-rating
	.ratingstar {
	width: 19.2px;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.comments
	li
	.commenters-rating
	.ratingstar
	img {
	width: 80%;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.comments
	li
	.commenters-rating
	h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28.8px;
	color: #0f172a;
}

#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.comments
	li
	span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #334155;
}
#about-course
	.wrapper
	.whole-content
	.learners-reviews
	.content
	.learners-comments
	.sections
	.comments
	li
	p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #334155;
}

/* sjudhcfusdhf7udeysgfy7ug newjeiwuheuhwu */

/* sdhnafuashfugsyufgysdgfyu */
#related-courses {
	padding: 115px 0px;
}
.resusing-component-content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.resusing-component-content h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	color: #0f172a;
	text-transform: capitalize;
}

.resusing-component-content .courses-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.resusing-component-content .courses-cards .card {
	border-radius: 16px;
	border: 1px solid #e2e8f0;
	box-shadow: 0px 0px 8px 0px #3b82f61f;
	width: 100%;
	overflow: hidden;
}

.resusing-component-content .courses-cards .card a {
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: 16px;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

.resusing-component-content .courses-cards .card .imagecontainer {
	width: 100%;
}

.resusing-component-content .courses-cards .card .imagecontainer img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.resusing-component-content .courses-cards .card .course-details {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: start;
}

.resusing-component-content .courses-cards .card .course-details ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.resusing-component-content .courses-cards .card .course-details ul li {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 6px;
}

.resusing-component-content .courses-cards .card .course-details ul li h5 {
	font-size: 18px;
	font-weight: 600;
	color: #0f172a;
}

.resusing-component-content
	.courses-cards
	.card
	.course-details
	li:first-child
	span {
	font-size: 14px;
	font-weight: 400;
	color: #334155;
}

.resusing-component-content .courses-cards .card .course-details .Ratings span {
	font-size: 12px;
	font-weight: 600;
	color: #334155;
}
.resusing-component-content .courses-cards .card .course-details ul li.Ratings {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

.resusing-component-content
	.courses-cards
	.card
	.course-details
	ul
	li:last-child
	span {
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	color: #334155;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}

.resusing-component-content .courses-cards .card .course-details h4 {
	font-size: 20px;
	font-weight: 600;
	color: #0f172a;
}

/* courses */
#forcourses {
	padding-bottom: 50px;
	padding-top: 25px;
}
#forcourses .error {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 72vh;
}
#forcourses .error h6 {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	color: #0f172a;
}

/* reponsive */

@media all and (max-width: 1280px) {
	.resusing-component-content .courses-cards {
		grid-template-columns: repeat(3, 1fr);
	}
	#top-categories .wrapper .content .Categories-cards {
		gap: 31px;
	}
	#top-courses .wrapper .content .courses-cards {
		gap: 24px;
	}
	#top-instructors .wrapper .content .instructors-cards {
		gap: 38px;
	}
	#course-preview .wrapper .content .content-right {
		width: 32%;
	}
}
@media all and (max-width: 1080px) {
	#spotlight .wrapper .content .content-right {
		width: 45%;
	}
	#about-course .wrapper .whole-content .course-content {
		width: 59%;
	}
	#course-preview .wrapper .content .content-right {
		width: 34%;
	}
	#course-preview .wrapper .content .content-left {
		width: 64%;
	}
	#about-course .wrapper .whole-content .course-content .tabs {
		justify-content: space-between;
		gap: 0px;
	}
}

@media all and (max-width: 980px) {
	footer .wrapper #footer-content .main {
		width: 28%;
	}
	.resusing-component-content .courses-cards {
		grid-template-columns: repeat(2, 1fr);
	}
	#course-preview
		.wrapper
		.content
		.content-left
		.main-details
		.responsive-card {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	#course-preview .wrapper .content .content-left .main-image {
		display: block;
	}
	#statistics .wrapper .content ul li:nth-child(2n) {
		display: none;
	}
	#about-course .wrapper .whole-content .course-content .tabs {
		justify-content: unset;
		gap: 24px;
	}
	#course-preview .wrapper .content .content-right {
		display: none;
	}
	#course-preview .wrapper .content .content-left {
		width: 100%;
	}
	#about-course .wrapper .whole-content .course-content {
		width: 100%;
	}
	#about-course .wrapper .whole-content .learners-reviews .content {
		flex-direction: column;
	}
	#about-course
		.wrapper
		.whole-content
		.learners-reviews
		.content
		.learners-comments {
		align-items: center;
	}
}

@media all and (max-width: 768px) {
	#course-preview
		.wrapper
		.content
		.content-left
		.main-details
		.responsive-card
		.sharelinks-imagecontainer {
		width: 55%;
	}
	#spotlight .wrapper .content {
		flex-direction: column-reverse;
	}
	#spotlight .wrapper .content .content-right {
		width: 85%;
	}
	#spotlight .wrapper .content .content-left {
		align-items: center;
		width: 100%;
	}
	#spotlight .wrapper .content .content-left div {
		width: 100%;
		align-items: center;
	}
	#spotlight .wrapper .content .content-left div p {
		text-align: center;
	}
	#spotlight .wrapper .content .content-left div h1 {
		text-align: center;
	}
	#statistics .wrapper .content ul {
		gap: 25px;
		flex-wrap: wrap;
	}
	#statistics .wrapper .content ul li:nth-child(2n-1) {
		width: 45%;
	}
	footer .wrapper #footer-content {
		flex-wrap: wrap;
		gap: 40px;
	}
	footer .wrapper #footer-content div {
		width: 100%;
	}
	footer .wrapper #footer-content .main {
		width: 100%;
	}
	footer .wrapper #footer-content .Contact-us .logos {
		width: 47%;
	}
	#features .wrapper .content .top {
		flex-direction: column;
		gap: 40px;
	}
	#features .wrapper .content .top .imagecontainer {
		width: 75%;
	}
	#features .wrapper .content .top .details {
		width: 100%;
		align-items: center;
	}
	#features .wrapper .content .top .details div {
		align-items: center;
	}
	#features .wrapper .content .top .details div p {
		text-align: center;
	}
	#features .wrapper .content .bottom {
		flex-direction: column;
		gap: 40px;
	}
	#features .wrapper .content .bottom .imagecontainer {
		width: 80%;
	}
	#features .wrapper .content .bottom .details {
		width: 100%;
		align-items: center;
	}
	#features .wrapper .content .bottom .details div {
		align-items: center;
	}

	#features .wrapper .content .bottom .details div p {
		text-align: center;
	}
	#top-courses .wrapper .content .head h3 {
		font-size: 22px;
	}
	footer .wrapper #footer-content .Contact-us .logos {
		width: 63%;
	}
	#top-instructors .wrapper .content .head h3 {
		font-size: 22px;
	}
	#top-categories .wrapper .content .head h3 {
		font-size: 22px;
	}
	.testmonial .content .wrapper .head h3 {
		font-size: 22px;
	}
	#spotlight .wrapper .content .content-left div h1 {
		font-size: 32px;
	}
}
@media all and (max-width: 640px) {
	#about-course .wrapper .whole-content .course-content .tabs {
		justify-content: space-between;
		gap: 0;
	}
	#about-course
		.wrapper
		.whole-content
		.learners-reviews
		.content
		.learners-comments
		.sections
		.comments {
		width: 100%;
	}
	#about-course
		.wrapper
		.whole-content
		.learners-reviews
		.content
		.learners-comments
		.sections
		.learners-details {
		width: 100%;
	}
	#about-course
		.wrapper
		.whole-content
		.learners-reviews
		.content
		.learners-comments
		.sections {
		flex-direction: column;
		gap: 10px;
	}
	#course-preview .wrapper .content .content-left .main-details .top h1 {
		font-size: 34px;
		line-height: 49px;
	}
}
@media (max-width: 540px) {
	.resusing-component-content .courses-cards {
		grid-template-columns: repeat(1, 1fr);
	}
	#course-preview
		.wrapper
		.content
		.content-left
		.main-details
		.responsive-card
		.sharelinks-imagecontainer {
		width: 80%;
	}
	#course-preview .wrapper .content .content-left {
		gap: 24px;
	}
	#course-preview .wrapper .content .content-left .main-details .top h1 {
		font-size: 30px;
		line-height: 38px;
	}
	#course-preview
		.wrapper
		.content
		.content-left
		.main-details
		.responsive-card
		.buying-details
		li:last-child {
		flex-direction: column;
		gap: 24px;
	}

	#course-preview
		.wrapper
		.content
		.content-left
		.main-details
		.responsive-card
		.buying-details
		li:last-child
		button {
		width: 100%;
	}
	#about-course .wrapper .whole-content .course-content .tabs {
		gap: 24px;
		overflow: auto;
		justify-content: unset;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	#course-preview
		.wrapper
		.content
		.content-left
		.main-details
		.bottom
		.top-content {
		align-items: flex-start;
		flex-direction: column;
		gap: 12px;
	}
	#course-preview
		.wrapper
		.content
		.content-left
		.main-details
		.bottom
		.top-content
		.line {
		display: none;
	}
	#about-course .wrapper .whole-content .course-content .Syllabus {
		width: 100%;
	}
	#about-course
		.wrapper
		.whole-content
		.course-content
		.Syllabus
		.Lectures
		li
		.time {
		display: none;
	}
}

@media (max-width: 480px) {
	#statistics .wrapper .content ul {
		gap: 40px;
	}
	#statistics .wrapper .content ul li:nth-child(2n-1) {
		width: 100%;
	}
	.testmonial .content .wrapper .head {
		flex-direction: column;
		gap: 30px;
	}
	.testmonial .content .wrapper .head h3 {
		text-align: center;
	}
	#course-preview .wrapper .content .content-left .path {
		flex-wrap: wrap;
		gap: 5px;
	}
	#course-preview .wrapper .content .content-left {
		gap: 30px;
	}
	#course-preview .wrapper .content .content-left .main-details .top h1 {
		font-size: 29px;
		line-height: 43px;
	}
	#about-course .wrapper .whole-content .course-content .tabs button {
		padding: 14px 28px;
	}
}
@media (max-width: 360px) {
	#course-preview
		.wrapper
		.content
		.content-left
		.main-details
		.responsive-card
		.sharelinks-imagecontainer {
		width: 100%;
	}
	#about-course
		.wrapper
		.whole-content
		.course-content
		.mainpart
		.course-description
		h4 {
		text-align: center;
	}
	#about-course
		.wrapper
		.whole-content
		.course-content
		.mainpart
		.course-description
		p {
		text-align: center;
	}
	#about-course
		.wrapper
		.whole-content
		.course-content
		.mainpart
		.certification
		h4 {
		text-align: center;
	}
	#about-course
		.wrapper
		.whole-content
		.course-content
		.mainpart
		.certification
		p {
		text-align: center;
	}
	#about-course
		.wrapper
		.whole-content
		.course-content
		.Syllabus
		.Lectures
		li
		.lessons {
		gap: 8px;
	}
	#about-course
		.wrapper
		.whole-content
		.course-content
		.Syllabus
		.Lectures
		li {
		padding: 19px;
	}
	#about-course
		.wrapper
		.whole-content
		.course-content
		.Syllabus
		.Lectures
		li
		.lessons
		h5 {
		font-size: 16px;
	}
	#features .wrapper .content .bottom .details div h5 {
		text-align: center;
	}
	footer .wrapper #footer-content .Contact-us .logos {
		width: 90%;
	}
	#spotlight .wrapper .content .content-right {
		width: 100%;
	}
	#spotlight .wrapper .content .content-left div h1 {
		font-size: 26px;
	}
	#spotlight .wrapper .content .content-left div p {
		font-size: 15px;
	}
	.testmonial .content .testmonial-cards .cards {
		min-width: 340px;
		padding: 16px;
	}
	.testmonial .content .testmonial-cards .cards ul {
		gap: 16px;
	}
	#features .wrapper .content .bottom .details a button {
		width: 100%;
		padding: 10px 0px;
		justify-content: center;
	}
	#features .wrapper .content .top .details a button {
		width: 100%;
		padding: 10px 0px;
		justify-content: center;
	}
	#features .wrapper .content .top .details a {
		width: 100%;
	}
	#features .wrapper .content .bottom .details a {
		width: 100%;
	}
	#features .wrapper .content .top .details div h5 {
		text-align: center;
	}
	#features .wrapper .content .top .imagecontainer {
		width: 100%;
	}
	#features .wrapper .content .bottom .imagecontainer {
		width: 100%;
	}
	header .wrapper .head .navbar-logined ul {
		gap: 18px;
	}
	header .wrapper .head .navbar-logined ul li {
		width: 20px;
		height: 20px;
	}
	header .wrapper .head .navbar-logined ul li:last-child {
		width: 30px;
		height: 30px;
	}
	header .wrapper .head .navbar ul {
		gap: 16px;
	}
	header .wrapper .head .navbar ul li:first-child {
		height: 20px;
		width: 20px;
	}
	header .wrapper .head .navbar ul li:nth-child(2) a {
		padding: 7px;
	}
	header .wrapper .head .navbar ul li:last-child a {
		padding: 9px;
	}
}
@media (max-width: 320px) {
	.testmonial .content .testmonial-cards .cards {
		min-width: 304px;
	}
	#about-course
		.wrapper
		.whole-content
		.learners-reviews
		.content
		.learners-comments
		.sections
		.comments
		li:first-child {
		align-items: flex-start;
		flex-direction: column;
		gap: 4px;
	}
}
