{% extends "base.html" %} {% load static %} {% block content %}
<!-- prettier ignore -->
{% load humanize %}
<section id="course-preview">
	<section class="wrapper">
		<section class="content">
			<div class="content-left">
				<ul class="path">
					<li><a href="{% url 'web:homepage' %}">Home</a></li>
					<li>
						<img
							src="{% static '/images/short-arrow-right-black.svg' %}"
							alt="right arrow" />
					</li>
					<li>
						<a
							href="{% url 'web:coursespage' category=course.category.name %}"
							>{{course.category.name}}</a
						>
					</li>
					<li>
						<img
							src="{% static '/images/short-arrow-right-black.svg' %}"
							alt="right arrow" />
					</li>
					<li>
						<a href="{% url 'web:coursepage' pk=course.pk %}"
							>{{course.title}}</a
						>
					</li>
				</ul>
				<div class="main-image">
					<img
						src="{{course.thumbnail_image.url}}"
						alt="course-image" />
				</div>
				<div class="main-details">
					<div class="top">
						<h1>{{course.title}}</h1>
						<p>{{course.description}}</p>
					</div>
					<div class="bottom">
						<div class="top-content">
							<div class="ratings">
								<span>{{course.rating}}</span>
								<div class="ratingimagecontainer">
									<img
										src="{% static '/images/starating.svg' %}"
										alt="ratings" />
								</div>
								<p>({{course.rated_customers_count}} rating)</p>
							</div>
							<div class="line"></div>
							<span class="timingdetails"
								>{{course.total_decimal_hours}} Total Hours.
								{{course.number_of_lectures}} Lectures. All
								levels</span
							>
						</div>
						<div class="middle-content">
							<div class="autherprofile">
								<img
									src="{{course.author.profile_image.url}}"
									alt="auther image" />
							</div>
							<h3>
								Created by <a href="/">{{course.author}}</a>
							</h3>
						</div>
						<div class="bottom-content">
							<div>
								<img
									src="{% static '/images/language.svg' %}"
									alt="language" />
							</div>
							<span>
								{% for language in course.languages.all %}
								{{language}}{% if not forloop.last %},
								<!-- arranging -->
								{% endif %} {% endfor %}
							</span>
						</div>
					</div>
					<div class="responsive-card">
						<ul class="buying-details">
							<li
								data-mrp="{{course.formatted_price}}"
								data-discount="{{course.formatted_discount_percentage}}"
								class="pricebox">
								<h3 class="price"></h3>
								<h5><del>${{course.formatted_price}}</del></h5>
								<h4>
									{{course.formatted_discount_percentage}}%
									Off
								</h4>
							</li>
							<li>
								<button>Add To Cart</button
								><button>Buy Now</button>
							</li>
						</ul>
						<div class="sharelinks-imagecontainer">
							<img
								src="{% static '/images/social-media.svg' %}"
								alt="social-media" />
						</div>
					</div>
				</div>
			</div>
			<div class="content-right">
				<div class="main-part">
					<div class="imagecontainer">
						<img
							src="{{course.thumbnail_image.url}}"
							alt="course-image" />
					</div>
					<ul>
						<li
							data-mrp="{{course.formatted_price}}"
							data-discount="{{course.formatted_discount_percentage}}"
							class="pricebox">
							<h3 class="price"></h3>
							<h5><del>${{course.formatted_price}}</del></h5>
							<h4>
								{{course.formatted_discount_percentage}}% Off
							</h4>
						</li>
						<li>
							<button>Add To Cart</button><button>Buy Now</button>
						</li>
					</ul>
				</div>
				<div class="line"></div>
				<div class="sharelinks">
					<p>Share</p>
					<div class="imagecontainer">
						<img
							src="{% static '/images/social-media.jpg' %}"
							alt="social-media" />
					</div>
				</div>
			</div>
		</section>
	</section>
</section>
<section id="about-course">
	<section class="wrapper">
		<section class="whole-content">
			<section class="course-content">
				<div class="tabs">
					<button class="active">Description</button>
					<button>Instructor</button>
					<button>Syllabus</button>
					<button>Reviews</button>
				</div>
				<div class="line"></div>
				<div class="mainpart">
					<div class="course-description">
						<h4>Course Description</h4>
						<p>
							This interactive e-learning course will introduce
							you to User Experience (UX) design, the art of
							creating products and services that are intuitive,
							enjoyable, and user-friendly. Gain a solid
							foundation in UX principles and learn to apply them
							in real-world scenarios through engaging modules and
							interactive exercises.
						</p>
					</div>
					<div class="certification">
						<h4>Certification</h4>
						<p>
							At Byway, we understand the significance of formal
							recognition for your hard work and dedication to
							continuous learning. Upon successful completion of
							our courses, you will earn a prestigious
							certification that not only validates your expertise
							but also opens doors to new opportunities in your
							chosen field.
						</p>
					</div>
				</div>
				<div class="line"></div>
				<div class="instructor">
					<h4>Instructor</h4>
					<div class="name">
						<h4><a href="/">{{course.author}}</a></h4>
						<p>UI/UX Designer</p>
					</div>
					<div class="profile">
						<div class="imagecontainer">
							<img
								src="{{course.author.profile_image.url}}"
								alt="auther" />
						</div>
						<ul class="about">
							<li>
								<div class="review-icon">
									<img
										src="{% static '/images/achive.svg' %}"
										alt="achivement" />
								</div>
								<span>40,445 Reviews</span>
							</li>
							<li>
								<div class="Students-owned">
									<img
										src="{% static '/images/cap.svg' %}"
										alt="cap icon" />
								</div>
								<span>500 Students</span>
							</li>
							<li>
								<div class="courses-owned">
									<img
										src="{% static '/images/play.svg' %}"
										alt="play icon" />
								</div>
								<span>15 Courses</span>
							</li>
						</ul>
					</div>
					<p class="auther-paragragh">
						With over a decade of industry experience, Ronald brings
						a wealth of practical knowledge to the classroom. He has
						played a pivotal role in designing user-centric
						interfaces for renowned tech companies, ensuring
						seamless and engaging user experiences.
					</p>
				</div>
				<div class="line"></div>
				<div class="Syllabus">
					<h4>Syllabus</h4>
					<ul class="Lectures">
						<li>
							<div class="lessons">
								<div class="down-arrow">
									<img
										src="{% static '/images/arrow-down.svg' %}"
										alt="down arrow" />
								</div>
								<h5>Introduction to UX Design</h5>
							</div>
							<div class="time">
								<span>5 Lessons</span>
								<span>1 hour</span>
							</div>
						</li>
						<li>
							<div class="lessons">
								<div class="down-arrow">
									<img
										src="{% static '/images/arrow-down.svg' %}"
										alt="down arrow" />
								</div>
								<h5>Basics of User-Centered Design</h5>
							</div>
							<div class="time">
								<span>5 Lessons</span>
								<span>1 hour</span>
							</div>
						</li>
						<li>
							<div class="lessons">
								<div class="down-arrow">
									<img
										src="{% static '/images/arrow-down.svg' %}"
										alt="down arrow" />
								</div>
								<h5>Elements of User Experience</h5>
							</div>
							<div class="time">
								<span>5 Lessons</span>
								<span>1 hour</span>
							</div>
						</li>
						<li>
							<div class="lessons">
								<div class="down-arrow">
									<img
										src="{% static '/images/arrow-down.svg' %}"
										alt="down arrow" />
								</div>
								<h5>Visual Design Principles</h5>
							</div>
							<div class="time">
								<span>5 Lessons</span>
								<span>1 hour</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="line"></div>
			</section>
			<section class="learners-reviews">
				<h4>Learner Reviews</h4>
				<div class="content">
					<div class="learners-ratings">
						<ul class="rating-reviews">
							<li>
								<div>
									<img
										src="{% static '/images/star.svg' %}"
										alt="star" />
								</div>
								<h2>{{course.rating}}</h2>
							</li>
							<li>
								<span
									>{{course.rated_customers_count|intcomma}}
									reviews</span
								>
							</li>
						</ul>
						<ul class="rating-count">
							<li>
								<div class="starcontainer">
									<img
										src="{% static '/images/ratings.svg' %}"
										alt="star" />
								</div>
								<span>80%</span>
							</li>
							<li>
								<div class="starcontainer">
									<img
										src="{% static '/images/ratings4.svg' %}"
										alt="star" />
								</div>
								<span>10%</span>
							</li>
							<li>
								<div class="starcontainer">
									<img
										src="{% static '/images/ratings3.svg' %}"
										alt="star" />
								</div>
								<span>5%</span>
							</li>
							<li>
								<div class="starcontainer">
									<img
										src="{% static '/images/ratings2.svg' %}"
										alt="star" />
								</div>
								<span>3%</span>
							</li>
							<li>
								<div class="starcontainer">
									<img
										src="{% static '/images/ratings1.svg' %}"
										alt="star" />
								</div>
								<span>2%</span>
							</li>
						</ul>
					</div>
					<ul class="learners-comments">
						<li class="sections">
							<div class="learners-details">
								<div class="learners-image">
									<img
										src="{% static '/images/span-6.svg' %}"
										alt="ratings auther" />
								</div>
								<h5>Mark Doe</h5>
							</div>
							<ul class="comments">
								<li>
									<div class="commenters-rating">
										<div class="ratingstar">
											<img
												src="{% static '/images/star.svg' %}"
												alt="star" />
										</div>
										<h5>5</h5>
									</div>
									<span>Reviewed on 22nd March, 2024</span>
								</li>
								<li>
									<p>
										I was initially apprehensive, having no
										prior design experience. But the
										instructor, John Doe, did an amazing job
										of breaking down complex concepts into
										easily digestible modules. The video
										lectures were engaging, and the
										real-world examples really helped
										solidify my understanding.
									</p>
								</li>
							</ul>
						</li>
						<li class="sections">
							<div class="learners-details">
								<div class="learners-image">
									<img
										src="{% static '/images/span-6.svg' %}"
										alt="ratings auther" />
								</div>
								<h5>Mark Doe</h5>
							</div>
							<ul class="comments">
								<li>
									<div class="commenters-rating">
										<div class="ratingstar">
											<img
												src="{% static '/images/star.svg' %}"
												alt="star" />
										</div>
										<h5>5</h5>
									</div>
									<span>Reviewed on 22nd March, 2024</span>
								</li>
								<li>
									<p>
										I was initially apprehensive, having no
										prior design experience. But the
										instructor, John Doe, did an amazing job
										of breaking down complex concepts into
										easily digestible modules. The video
										lectures were engaging, and the
										real-world examples really helped
										solidify my understanding.
									</p>
								</li>
							</ul>
						</li>
						<li class="sections">
							<div class="learners-details">
								<div class="learners-image">
									<img
										src="{% static '/images/span-6.svg' %}"
										alt="ratings auther" />
								</div>
								<h5>Mark Doe</h5>
							</div>
							<ul class="comments">
								<li>
									<div class="commenters-rating">
										<div class="ratingstar">
											<img
												src="{% static '/images/star.svg' %}"
												alt="star" />
										</div>
										<h5>5</h5>
									</div>
									<span>Reviewed on 22nd March, 2024</span>
								</li>
								<li>
									<p>
										I was initially apprehensive, having no
										prior design experience. But the
										instructor, John Doe, did an amazing job
										of breaking down complex concepts into
										easily digestible modules. The video
										lectures were engaging, and the
										real-world examples really helped
										solidify my understanding.
									</p>
								</li>
							</ul>
						</li>
						<li>
							<button>View more Reviews</button>
						</li>
					</ul>
				</div>
			</section>
		</section>
	</section>
</section>
<section class="testmonial">
	<section class="content">
		<section class="wrapper">
			<div class="head">
				<h3>What Our Customer Say <br />About Us</h3>
				<div class="buttons">
					<button onclick="scrollleft()">
						<img
							src="{% static '/images/short-arrow-left.svg' %}"
							alt="leftbutton" />
					</button>
					<button onclick="scrollright()">
						<img
							src="{% static '/images/short-arrow-right.svg' %}"
							alt="rightbutton" />
					</button>
				</div>
			</div>
		</section>
		<div class="testmonial-cards">
			<div class="cards">
				<ul>
					<li class="doubleqoutes-container">
						<img
							src="{% static '/images/quotes.svg' %}"
							alt="double-quotes" />
					</li>
					<li>
						<p>
							"Byway's tech courses are top-notch! As someone
							who's always looking to stay ahead in the rapidly
							evolving tech world, I appreciate the up-to-date
							content and engaging multimedia.
						</p>
					</li>
					<li>
						<div class="imagecontainer">
							<img
								src="{% static '/images/Ellipse.png' %}"
								alt="cutomer image" />
						</div>
						<div>
							<h5>Jane Doe</h5>
							<span>Designer</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="cards">
				<ul>
					<li class="doubleqoutes-container">
						<img
							src="{% static '/images/quotes.svg' %}"
							alt="double-quotes" />
					</li>
					<li>
						<p>
							"Byway's tech courses are top-notch! As someone
							who's always looking to stay ahead in the rapidly
							evolving tech world, I appreciate the up-to-date
							content and engaging multimedia.
						</p>
					</li>
					<li>
						<div class="imagecontainer">
							<img
								src="{% static '/images/Ellipse.png' %}"
								alt="cutomer image" />
						</div>
						<div>
							<h5>Jane Doe</h5>
							<span>Designer</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="cards">
				<ul>
					<li class="doubleqoutes-container">
						<img
							src="{% static '/images/quotes.svg' %}"
							alt="double-quotes" />
					</li>
					<li>
						<p>
							"Byway's tech courses are top-notch! As someone
							who's always looking to stay ahead in the rapidly
							evolving tech world, I appreciate the up-to-date
							content and engaging multimedia.
						</p>
					</li>
					<li>
						<div class="imagecontainer">
							<img
								src="{% static '/images/Ellipse.png' %}"
								alt="cutomer image" />
						</div>
						<div>
							<h5>Jane Doe</h5>
							<span>Designer</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="cards">
				<ul>
					<li class="doubleqoutes-container">
						<img
							src="{% static '/images/quotes.svg' %}"
							alt="double-quotes" />
					</li>
					<li>
						<p>
							"Byway's tech courses are top-notch! As someone
							who's always looking to stay ahead in the rapidly
							evolving tech world, I appreciate the up-to-date
							content and engaging multimedia.
						</p>
					</li>
					<li>
						<div class="imagecontainer">
							<img
								src="{% static '/images/Ellipse.png' %}"
								alt="cutomer image" />
						</div>
						<div>
							<h5>Jane Doe</h5>
							<span>Designer</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="cards">
				<ul>
					<li class="doubleqoutes-container">
						<img
							src="{% static '/images/quotes.svg' %}"
							alt="double-quotes" />
					</li>
					<li>
						<p>
							"Byway's tech courses are top-notch! As someone
							who's always looking to stay ahead in the rapidly
							evolving tech world, I appreciate the up-to-date
							content and engaging multimedia.
						</p>
					</li>
					<li>
						<div class="imagecontainer">
							<img
								src="{% static '/images/Ellipse.png' %}"
								alt="cutomer image" />
						</div>
						<div>
							<h5>Jane Doe</h5>
							<span>Designer</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</section>
{% if similar_courses %}
<section id="related-courses">
	<section class="wrapper">
		<section class="resusing-component-content">
			<h2>More Courses Like This</h2>
			<div class="courses-cards">
				{% for course in similar_courses %}
				<div
					class="course-price-details card"
					data-mrp="{{course.formatted_price}}"
					data-discount="{{course.formatted_discount_percentage}}">
					<a href="{% url 'web:coursepage' pk=course.pk %}">
						<div class="imagecontainer">
							<img
								src="{{course.image.url}}"
								alt="course image" />
						</div>
						<div class="course-details">
							<ul>
								<li>
									<h5>{{course.card_title}}</h5>
									<span>By {{course.author.name}}</span>
								</li>
								<li class="Ratings">
									<div class="ratingfullstar">
										<img
											src="{% static '/images/ratings.svg' %}"
											alt="ratings star" />
									</div>
									<span
										>({{course.rated_customers_count}}
										Ratings)</span
									>
								</li>
								<li>
									<span>
										{{course.total_decimal_hours}} Total
										Hours. {{course.number_of_lectures}}
										Lectures. Beginner
									</span>
								</li>
							</ul>
							<h4></h4>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</section>
	</section>
</section>
{% endif %} {% endblock %}
